html,
body {
  border: 0;
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  background: #1e1e1e;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
}

.card {
  margin: 8px;
  border-radius: 4px;
  background: #606060;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  flex: 1 1 calc(50% - 16px);
  display: flex;
  min-height: calc(50vh - 24px);
  user-select: none;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20%;
  z-index: 1;
}

.card.controller {
  background-color: #606060;
  background-image: url(images/controller.svg);
}

.card.centos {
  background-color: #932178;
  background-image: url(images/centos.svg);
}

.card.ubuntu {
  background-color: #e95420;
  background-image: url(images/ubuntu.svg);
}

.card.alpine {
  background-color: #0d597f;
  background-image: url(images/alpine.svg);
}

.card--zoomed {
  position: fixed;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  z-index: 2;
}

.card__head {
  padding: 10px 16px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  color: #fff;
  display: flex;
}

.card__head__container {
  display: flex;
  flex: 1;
  align-items: center;
}

.card__head__spacer {
  flex: 1;
}

.card__head__selector {
  margin: 0 4px;
  display: flex;
}

.card__head__selector__number {
  cursor: pointer;
  font-size: .8rem;
  padding: 0px 4px;
  box-sizing: border-box;
  border-collapse: collapse;
  border: 1px solid transparent;
  border-radius: 4px;
}

.card__head__selector__number.active {
  border: 1px solid #ffffff;
}

.card__body {
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  flex: 1;
}

.card__head__maximize:before {
  border: 2px solid #fff;
  border-top-width: 4px;
  width: 0.9rem;
  height: 0.9rem;
  box-sizing: border-box;
  border-collapse: collapse;
  cursor: pointer;
  content: '';
  display: block;
  border-radius: 2px;
}

.card-zoomed .card__head__maximize:before {
  border: none;
  border-bottom: 2px solid #fff;
}

iframe {
  border-radius: 4px;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 95%;
  position: relative;
  bottom: 0;
}
